.ds-text-center {
    text-align: center;
}

.ds-center {
    margin-left: auto;
    margin-right: auto;
}

.ds-text-white {
    color: white;
}

.ds-height-full {
    height: 100%;
}

.ds-width-full {
    width: 100%;
}

.ds-border {
    border: 1px solid grey;
    border-radius: 16px;
}

.ds-right {
    float: right;
}